:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f3f4f6; /* El gris suave de tu app */
  color: #1f2937; /* Texto oscuro por defecto */
}

/* IMPORTANTE: Asegura que el contenedor de React ocupe todo el espacio */
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex; /* Necesario para que tu layout funcione bien */
  flex-direction: column;
}